[package]
name = "mud-transformer"
version = { workspace = true }
edition = { workspace = true }

[lints]
workspace = true

[dependencies]
bytes = { workspace = true }
flagset = { workspace = true }
flate2 = "1.1.5"
mxp = { path = "../mxp" }
serde = { workspace = true, features = ["derive"], optional = true }

[features]
serde = ["dep:serde", "mxp/serde", "flagset/serde"]
