[package]
name = "mud-transformer"
version = { workspace = true }
edition = { workspace = true }

[lints]
workspace = true

[dependencies]
bytes = "1.6.0"
flagset = { workspace = true }
flate2 = "1.0.28"
mxp = { path = "../mxp" }
serde = { workspace = true, features = ["derive"], optional = true }

[features]
serde = ["dep:serde", "mxp/serde", "flagset/serde"]
